{% extends "base.html" %}

{% block content %}
<section class="admin-auth">
    <div class="auth-card">
        <h2>Admin Login</h2>

        <form method="POST">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>

        <p class="note">
            Only authorized PlayPals staff allowed.
            <br>
            <a href="{{ url_for('admin_register') }}">No account? Register here</a>
            <br>
            <a href="{{ url_for('forgot_password') }}" style="color:#f5c542;">Forgot your password?</a>
        </p>
    </div>
</section>
{% endblock %}
