{% extends "base.html" %}
{% block content %}

<section class="admin-auth">
    <div class="auth-card">
        <h2>Edit Game</h2>

        <form method="POST">
            <label>Game Name</label>
            <input type="text" name="name" value="{{ game.name }}" required>

            <label>Description</label>
            <textarea name="description" required>{{ game.description }}</textarea>

            <label>Price per Day (Ksh)</label>
            <input type="number" name="price" value="{{ game.price }}" required>

            <label>Quantity in Stock</label>
            <input type="number" name="quantity" value="{{ game.quantity }}" min="1" required>

            <label>Image Filename</label>
            <input type="text" name="image" value="{{ game.image }}" required>

            <button type="submit">Update Game</button>
        </form>

        <a href="{{ url_for('admin_inventory') }}" style="display:inline-block; margin-top:16px;">← Back to Inventory</a>
    </div>
</section>

{% endblock %}
